@font-face {
    font-family: Founder;
    font-display: swap;
    src: url("../fonts/Founder-Light.woff2") format("woff2"), url("../fonts/Founder-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Founder;
    font-display: swap;
    src: url("../fonts/Founder-Medium.woff2") format("woff2"), url("../fonts/Founder-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Founder;
    font-display: swap;
    src: url("../fonts/Founder-Regular.woff2") format("woff2"), url("../fonts/Founder-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Founder;
    font-display: swap;
    src: url("../fonts/Founder-Bold.woff2") format("woff2"), url("../fonts/Founder-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
