<footer class="site-footer">
    <div class="container">
        <div class="site-footer__wrapper">
            <div class="site-footer__body">
                <div class="site-footer__logo">
                    <img width="108" height="60" data-lozad src="@img/placeholder.png" data-src="@img/logo.svg" alt="Logo" title="Logo" />
                </div>
                <nav class="site-footer__navigation">
                    <ul class="site-footer__menu menu-footer">
                        <li class="menu-footer__item">
                            <a data-anchor href="#services" class="menu-footer__link">Наши услуги</a>
                        </li>
                        <li class="menu-footer__item">
                            <a data-anchor href="#advantages" class="menu-footer__link">Преимущества</a>
                        </li>
                        <li class="menu-footer__item">
                            <a data-anchor href="#cases" class="menu-footer__link">Кейсы</a>
                        </li>
                        <li class="menu-footer__item">
                            <a data-anchor href="#faqs" class="menu-footer__link">FAQ</a>
                        </li>
                        <li class="menu-footer__item">
                            <a data-anchor href="#clients" class="menu-footer__link">Нам доверяют</a>
                        </li>
                        <li class="menu-footer__item">
                            <a data-anchor href="#contacts" class="menu-footer__link">Контакты</a>
                        </li>
                    </ul>
                    <ul class="site-footer__terms">
                        <li class="site-footer__terms-item">
                            <a href="#" class="site-footer__term">Пользовательское соглашение</a>
                        </li>
                        <li class="site-footer__terms-item">
                            <a href="#" class="site-footer__term">Политика конфиденциальности</a>
                        </li>
                        <li class="site-footer__terms-item">
                            <a href="#" class="site-footer__term">Политика AML и KYC</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="site-footer__bottom">
                <p class="site-footer__copyright">© 2024 Все права защищены</p>
                <p class="site-footer__creator">Дизайн и разработка сайта — <a rel="noreferrer" target="_blank" href="https://bart-group.com/">B.ART</a></p>
            </div>
        </div>
    </div>
</footer>
<div class="overlay">
    @@include('../popups/_case-1.html',{})
    @@include('../popups/_case-2.html',{})
    @@include('../popups/_case-3.html',{})
    @@include('../popups/_case-4.html',{})
    @@include('../popups/_case-5.html',{})
    @@include('../popups/_faqs.html',{})
</div>
